#loi {
    font-size: 1em;
    font-weight: bold;
    color: red;
    font-style: italic;
    text-decoration: underline rgb(221, 159, 78);
    margin-bottom: 0.5em;
}

h4 {
    font-weight: bold;
    color: #fdfdfd;
}

h4.m-0 {
    font-weight: bold;
    border: 2px solid #ffffff;
    background-color: #1b8d87;
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
}

label {
    font-weight: bold;
}

.option-group {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.option-group>input[type="radio"] {
    width: 20px;
    height: 20px;
    margin: 0;
}

.option-group>span {
    margin-left: 4px;
    color: #333;
}

input[type='radio']:after,
input[type='checkbox']:after {
    width: 12px;
    height: 12px;
    top: -0.4em;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border-radius: 15px;
}

input[type='radio']:checked:after,
input[type='checkbox']:checked:after {
    background-color: #16b87f;
}

form {
    margin: 15px auto;
    border-radius: 40px;
    max-width: 80%;
    background-color: #f5f7fb;
    padding: 15px;
}

.form-control {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.btn {
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #1b8d87;
    color: #fff;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background-color: #0e615d;
}

@media only screen and (max-width: 700px) {

    form {
        max-width: 90%;
    }
}
